<p id="notice"><%= notice %></p>
<p>
  <span>Eメール：</span><%= @user.email %>
</p>

<div class="card">
  <div class="card-header">
    <%= @article.title %>
    <% @article.tags.each do |tag| %>
      <span class="badge rounded-pill bg-primary"><%= tag.name%></span>
    <% end %>
  </div>
  <div class="card-body">
    <%= @article.content %>
  </div>
</div>
